<!DOCTYPE html>
<html lang="en">
  <head>    
    <title>Administration Portal</title>
	<link rel= "stylesheet" type= "text/css" href= "/static/styles/decorate.css">
	<script src="/static/styles/loginpage.js"></script>
  </head>
  <body>
		</br></br></br>
		<center><img src="/static/squirrel.png" alt="Squirrel Pic"></center>
		<center><h1>Administration Console</h1></center>
		<center><div id="dashrectangle" style="position:relative; left:0px;">
		
			<!-- Logout Button -->
			<button type="button" onclick="location.href = '/';" style="position:relative; background-image: url('/static/logout.png'); width:100px; height:50px; left:0px; top:0px; float:right; border-radius: 25px; cursor:pointer;"></button>
			
			
			<center><b><label style="position:relative; left:0px; top:200px; font-size:24px;">***  UNDER CONSTRUCTION ***</label></b></center>
		
			
		
		</div></center>
		
		<center><div class="msg" style="color:red;">{{ msg }}</div></center>
  </body>
</<html>