<!--

	Page: dashboard.html
	Author: Andrew Smith
	Date: April 2025
	Description: Dashboard app (under construction)

-->

<html>
  <head>    
    <title>Administration Portal - Dashboard</title>
	<link rel= "stylesheet" type= "text/css" href= "/static/styles/decorate.css">
	<script src="/static/styles/loginpage.js"></script>
  </head>
  <body>
		</br></br></br>
		<center><img src="/static/squirrel.png" alt="Squirrel Pic"></center>
		<center><h1>Administration Console</h1></center>
		<center><div id="dashrectangle" style="position:relative; left:0px;">
		
			<!-- Logout Button -->
			<button type="button" onclick="location.href = '/logout';" style="position:relative; background-image: url('/static/logout.png'); width:100px; height:50px; left:0px; top:0px; float:right; border-radius: 25px; cursor:pointer;"></button>
			
			<!-- Profile Button -->
			<button type="button" onclick="location.href = '/userprofile';" style="position:relative; background-image: url('/static/userprofile.png'); width:100px; height:100px; left:-1350px; top:100px; float:right; border-radius: 25px; cursor:pointer;"></button>

			<!-- Profile Button Label -->
			<label style="position:relative; left:-600px; top:220px; font-weight:bold;">Profile</label>
		
		</div></center>
		</br></br>
		<center><div class="msg" style="color:green; font-weight:bold;">{{ msg }}</div></center>
  </body>
</<html>