<!--

	Page: forgotpass.html 
	Author: Andrew Smith
	Date: April 2025
	Description: Forgot password page (under development)

-->

<html>
  <head>    
    <title>Forgot Password</title>
	<link rel= "stylesheet" type= "text/css" href= "/static/styles/decorate.css">
	<script src="/static/styles/loginpage.js"></script>
  </head>
  <body>
		<center><img src="/static/squirrel.png" alt="Squirrel Image"></center>
		<center><h1>Administration Console - Forgot Password</h1></center>
		<center><div id="rectangle">
		<form action="" method="post">
		<div>
			<b><label for="useremail" style="font-size:18px; position:relative; left:200px; top:10px;">EMAIL ADDRESS</label></b>
			<input type="text" id="useremail" name="useremail" required style="width:400px; height:50px; position:relative; left:-80px; top:60px; border-radius: 25px; text-align:center; background-color:white;">
		</div>		
		
		<div>
		
			<input type="submit" value="" style="position:relative; width:100px; height:50px; left:0px; top: 80px; border-radius: 25px; background-image: url('/static/sendicon.png'); cursor:pointer">	
		
		</div>
		
		<a href="/login" style="position:relative; left:360px; top:160px;">Login</a>
		
		</form>
		</div></center>
		
		<center><div class="msg" style="color:red;">{{ msg }}</div></center>
  </body>
</<html>