/*

	File: decorate.css
	Author: Andrew Smith
	Date: January 2026
	Description: This is the main CSS file used for the dashboard app 

*/

/* Login area rectangle */
#rectangle{
    width:800px;
    height:300px;
    background:#e6edfc;
	border-radius: 25px;
}

/* Dashboard area rectangle */
#dashrectangle{
    width:1600px;
    height:600px;
    background:#e6edfc;
	border-radius: 25px;
}

/* User Details area rectangle */
#userdetailsrectangle{
    width:800px;
    height:300px;
    background:#d1d1e0;
	border-radius: 25px;
}

/* Individual user detail - Surname (for example) */
#userdetailrect {
	width:350px;
	height:30px;
	background:#80bfff;
	border-radius: 0px;

